body {
  margin: auto;
  /* display: flex; */
  place-items: top;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  background-color: rgb(224, 224, 224);
}

div {
  padding: 10pt;
}

a {
  font-weight: 500;
  color:rgba(255, 36, 87, 0.948);
  text-decoration: inherit;
  padding: 5px;
}
a:hover {
  color: #f87b79;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0.1em;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.navbar {
  padding: 0em 1em;
  background-color: #1a1a1a;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: #f25353;
}
